.App {
  text-align: center;
  display: grid;
  grid-template-rows: 90vh, 10vh;
  height: 100vh;
  padding: 10px;
  box-sizing: border-box;
}

.main-content {
}

.active {
  font-weight: bold;
}

.route-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 5px;
}
