/* ///////// old styles /////////// */

/* .active {
  font-weight: bold;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 5px;
}

ul {
  list-style-type: none;
}

.btn-filter {
  display: none;
}

#filter-items {
  margin: 0 20px;
} */

/* ///////// updated with new colors, headings not words /////////// */
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.soon {
  color: #8ad66f;
}

.kindofsoon {
  color: #f5fa0f;
}

.notsoon {
  color: #4ec5f8;
}

.inactive {
  color: #969696;
}

.soon,
.kindofsoon,
.notsoon,
.inactive {
  font-size: 28px;
  text-align: justify;
  padding-left: 5%;
  padding-right: 5%;
  letter-spacing: 1px;
  line-height: 1.65;
}
.frontis:hover,
.frontis:active {
  color: #8ad66f;
}
.yellow {
  color: #f5fa0f;
}
.green {
  color: #8ad66f;
}
.blue {
  color: #4ec5f8;
}
/* ///////// colors not yet used  /////////// */

.delete {
  color: #f36546;
}
.inactive-words {
  color: rgba(255, 255, 255, 0.6);
}
.soft-green {
  color: #8daf81;
}

.carrot {
  z-index: -1;
  position: absolute;
}
